.nav
{
    padding-left:20px;
}
.nav-link{
    color: #00a5e7 !important;
    cursor: pointer;
}
.font-level-1
{
    font-size: 18pt;
}
.font-level-2
{
    font-size: 16pt;
}
.font-level-3
{
    font-size: 14pt;
}