<ng-template [ngIf]="true">
		<div class="page-content">
			<div class="container top-search">
				<div class="input-group">
					<input type="text" class="form-control"  [(ngModel)]="searchKeyWords" (keyup.enter)="onSearchEnter($event)"/>
					<span class="input-group-addon"><i class="item-icon fa fa-search"></i></span>
				</div>
				<div class="top-search-summary-result">{{postList === undefined ?0: postList.posts.length}} results for "{{searchKeyWords}}"</div>
			</div>

			<div *ngIf="postList" class="container">
					<article *ngFor="let post of postList.posts" class="post">
						<h2 class="post-title"><a [routerLink]="post.url">{{post.title}}</a></h2>
						<div [innerHTML]="post.description" class="post-description"></div>
						<a class="post-more btn btn-rounded btn-dark" [routerLink]="post.url">Read</a>
					</article>
			</div>
			<div *ngIf="postList && postList.posts.length == 0" class="search-noresult">
				No results, search again!
			</div>	
		</div>
</ng-template>