.border-bottom
{
    border-bottom:2px solid #00a5e7;
}

.nav-link{
    color: #00a5e7 !important;
    cursor: pointer;
    font-size: 18pt;
}

.title
{
    background-color: #00a5e7;
    color:white;
    display: flex;
    align-items:center;
    padding:5pt 10pt;
    font-size: 18pt;
}
.title > div
{ 
    flex:1;
}