.nav
{
    padding-left:10px;
}
a,.nav-link{
    color: #00a5e7;
}
.active
{
    font-weight: bold;
    text-decoration: underline;
}
.nav-link > a
{
    display: inline;
    padding-left: 0;
}
.font-level-1
{
    font-size: 22pt;
}
.font-level-2
{
    font-size: 18pt;
}
.font-level-4
{
    font-size: 14pt;
}