<a *ngIf="!currentPage && !data.children.length" class="nav-link" [ngClass]="{'active':'/'+data.page.url === activeUrl}"  [routerLink]="data.page.url">{{data.page.navHeader}}</a>
<div *ngIf="!currentPage && data.children.length" class="nav-link"  (click)="toggle($event)">
    <a  class="nav-link" [ngClass]="{'active':'/'+data.page.url === activeUrl}"  (click)="parentLinkClickHandler($event)">{{data.page.navHeader}}</a>
    <i class="item-icon fa" [ngClass]="{'fa-angle-right': hideChildren, 'fa-angle-down':!hideChildren}"></i>
</div>

<a *ngIf="currentPage && !data.children.length" class="nav-link" [ngClass]="{'active':'/'+data.page.url === activeUrl}">{{data.page.navHeader}}</a>
<div *ngIf="currentPage && data.children.length" class="nav-link"  (click)="toggle($event)">
    <a  class="nav-link" [ngClass]="{'active':'/'+data.page.url === activeUrl}">{{data.page.navHeader}}</a>
    <i class="item-icon fa" [ngClass]="{'fa-angle-right': hideChildren, 'fa-angle-down':!hideChildren}"></i>
</div>

<nav-menu *ngIf="!hideChildren && data.children.length" [isRoot]=false [level]="level+1" [data]="data.children" ></nav-menu>

