.blog-header
{
    background: #00a5e7;
    position:initial;
    display: none !important;
}
.Main-Content
{
    display: flex;
    
}
.Right-Container
{
    flex:1;
}
.Main-Content-Mobile
{
    flex-direction: column;
}
.Catalog-Nav
{
    background-color:#fff;
}
.Catalog-Nav-Mobile
{
    margin-bottom: 10pt;
    border-left:2px solid #00a5e7;
    border-right:2px solid #00a5e7;
}